# Cleaning data

### Data loading

First, we imported the car data CSV file from Kaggle and performed an initial exploration of its contents. We examined the datasetâ€™s structure, inspected the columns, and visualized the unique values for several features. This helped us identify  and locate irregularities, such as missing entries, inconsistent formatting, or values that did not logically fit the expected ranges.

In [1]:
import pandas as pd

# Load in the kaggle file
df = pd.read_csv("CarsData.csv")

# Unique values
for col in df.columns:
    print(df[col].unique())

[' I10' ' Polo' ' 2 Series' ' Yeti Outdoor' ' Fiesta' ' C-HR' ' Kuga'
 ' Tiguan' ' A Class' ' 1 Series' ' Up' ' Golf' ' Corsa' ' RAV4'
 ' GLA Class' ' Aygo' ' Q5' ' Karoq' ' Scala' ' Auris' ' Tucson' ' A4'
 ' Viva' ' Kodiaq' ' C Class' ' Mondeo' ' Citigo' ' Yaris' ' X4'
 ' Octavia' ' Astra' ' Focus' ' 3 Series' ' GLC Class' ' Q3' ' B-MAX'
 ' C-MAX' ' IX20' ' X5' ' T-Cross' ' Shuttle' ' Insignia' ' Zafira' ' A3'
 ' A5' ' SL CLASS' ' EcoSport' ' X1' ' Fabia' ' Golf SV' ' Verso' ' Yeti'
 ' Mokka X' ' Antara' ' E Class' ' 4 Series' ' Superb' ' 5 Series'
 ' 8 Series' ' B Class' ' Ka+' ' X2' ' GLE Class' ' A6' ' Mokka' ' Passat'
 ' Kamiq' ' Adam' ' Q7' ' Tiguan Allspace' ' X3' ' A1' ' Grandland X'
 ' Meriva' ' Tourneo Connect' ' Arteon' ' TT' ' GLS Class' ' Santa Fe'
 ' I30' ' S Class' ' Ioniq' ' Edge' ' S-MAX' ' SLK' ' Crossland X'
 ' 7 Series' ' T-Roc' ' Q2' ' CL Class' ' CLA Class' ' 6 Series'
 ' V Class' ' Scirocco' ' i3' ' Grand C-MAX' ' SQ5' ' X7' ' Corolla' ' A7'
 ' Touareg' ' CLS Class' ' I20' ' M Class' ' Prius' ' KA' ' GT86' ' Hilux'
 ' Galaxy' ' M4' ' I800' ' Kona' ' Touran' ' Grand Tourneo Connect'
 ' Caravelle' ' Combo Life' ' GL Class' ' Avensis' ' SQ7' ' GLB Class'
 ' RS3' ' IX35' ' GTC' ' Land Cruiser' ' X6' ' RS5' ' Puma' ' CC' ' I40'
 ' i8' ' Eos' ' Rapid' ' Amarok' ' Beetle' ' Supra' ' California' ' A8'
 ' Z4' ' Q8' ' S4' ' Sharan' ' Mustang' ' M3' ' RS4' ' RS6' ' Fox'
 ' Cascada' ' M5' ' Caddy Maxi Life' ' Vivaro' ' X-CLASS' ' M6' ' Kadjar'
 ' Caddy Maxi' ' Fusion' ' Tourneo Custom' ' Tigra' ' M2' ' Agila'
 ' Zafira Tourer' ' Vectra' ' Ranger' ' Getz' ' R8' ' Roomster' ' Jetta'
 ' Veloster' ' S5' ' S3' ' Z3' ' Ampera' ' Caddy Life' ' Urban Cruiser'
 ' S8' ' Verso-S' ' IQ' ' CLK' ' PROACE VERSO' ' R Class' ' G Class' '180'
 ' Camry' ' Caddy' ' Terracan' ' Streetka' '200' ' Escort'
 ' Transit Tourneo' ' CLC Class' '230' ' A2' ' Amica' ' RS7' ' Accent'
 '220']
[2017 2019 2018 2016 2020 2015 2014 2013 2008 2011 2010 2012 2007 2009
 2003 1998 2006 2002 2005 2004 2001 2000 1997 1999 1996 2024 1970]
[ 7495 10989 27990 ... 23448  4871 18217]
['Manual' 'Semi-Auto' 'Automatic' 'Other']
[11630  9200  1614 ... 22635 25570 25372]
['Petrol' 'Diesel' 'Hybrid' 'Other' 'Electric']
[145 150 125 135  30   0  20 205 200 160 165 570 235 240 300 260 140 265
  10 555 540 295 305 185 325 190 565 280 330 195 120 110 130 115 580 245
 315 220 210 155 250 255 230 270 290 535 520 515]
[6.010e+01 5.890e+01 4.960e+01 6.280e+01 5.430e+01 7.430e+01 3.440e+01
 3.040e+01 6.570e+01 7.850e+01 6.420e+01 5.540e+01 6.730e+01 6.900e+01
 3.820e+01 4.710e+01 5.140e+01 5.760e+01 4.480e+01 6.890e+01 3.980e+01
 8.310e+01 4.220e+01 5.650e+01 4.790e+01 7.060e+01 7.630e+01 5.230e+01
 5.770e+01 8.600e+01 5.040e+01 4.280e+01 5.330e+01 6.140e+01 1.345e+02
 2.540e+01 3.280e+01 3.860e+01 8.070e+01 4.350e+01 3.870e+01 4.090e+01
 4.150e+01 4.040e+01 4.630e+01 4.410e+01 3.920e+01 3.210e+01 3.360e+01
 4.870e+01 3.620e+01 3.450e+01 3.720e+01 7.640e+01 3.320e+01 7.800e+01
 7.240e+01 3.070e+01 3.530e+01 4.560e+01 3.140e+01 3.490e+01 3.770e+01
 2.720e+01 5.660e+01 4.600e+01 2.850e+01 1.487e+02 3.670e+01 4.708e+02
 4.450e+01 5.550e+01 5.500e+01 5.800e+01 6.560e+01 4.700e+01 3.400e+01
 3.170e+01 4.030e+01 7.840e+01 2.910e+01 3.370e+01 4.210e+01 8.830e+01
 2.260e+01 2.800e+01 2.480e+01 2.880e+01 5.880e+01 3.250e+01 3.010e+01
 2.970e+01 3.580e+01 6.170e+01 4.300e+01 8.560e+01 6.700e+01 6.880e+01
 6.600e+01 1.662e+02 5.110e+01 2.240e+01 2.210e+01 2.090e+01 1.569e+02
 4.240e+01 2.800e+00 2.940e+01 9.410e+01 8.800e+00 2.410e+01 2.640e+01
 4.770e+01 2.740e+01 2.690e+01 6.770e+01 5.440e+01 2.390e+01 2.110e+01
 1.284e+02 4.360e+01 2.220e+01 1.177e+02 4.840e+01 1.413e+02 4.800e+01
 2.350e+01 6.000e+00 2.670e+01 1.660e+02 2.173e+02 2.830e+01 1.883e+02
 2.160e+01 2.190e+01 7.860e+01 2.030e+01 2.018e+02 2.140e+01 3.100e+01
 2.620e+01 6.270e+01 2.550e+01 1.766e+02 2.350e+02 7.440e+01 5.300e+01
 3.760e+01 2.370e+01 1.100e+00 2.100e+01 1.960e+01 2.568e+02 2.590e+01
 2.354e+02 1.412e+02 1.355e+02 1.890e+01 1.228e+02 5.000e+01 2.660e+01
 4.000e+01 2.460e+01 2.050e+01 3.000e+01 3.000e-01 3.290e+01 2.080e+01
 2.280e+01 2.520e+01 2.820e+01 2.950e+01 1.780e+01 5.130e+01 4.340e+01
 2.630e+01 2.330e+01 1.980e+01 6.110e+01 2.770e+01 2.320e+01 5.500e+00
 3.710e+01 3.810e+01 1.229e+02 1.130e+02 2.000e+01 3.330e+01 1.009e+02
 1.930e+01 1.910e+01 2.300e+01 4.290e+01 2.440e+01 5.350e+01 4.200e+01
 1.950e+01 1.900e+01 2.170e+01 5.470e+01 5.420e+01 2.500e+01 2.790e+01
 3.080e+01 2.230e+01 4.460e+01 1.100e+01 4.216e+01]
[1.  2.  1.2 1.8 1.5 2.1 1.4 2.5 1.6 1.7 3.  4.4 2.2 1.3 2.3 4.  0.  1.9
 1.1 2.4 3.5 5.5 2.9 2.8 4.2 5.  5.4 3.2 5.2 4.5 6.  2.7 0.6 6.2 4.3 4.7
 6.6 3.7 4.1 6.3]
['hyundi' 'volkswagen' 'BMW' 'skoda' 'ford' 'toyota' 'merc' 'vauxhall'
 'Audi']

### Fixing whitespaces and manufacturer names

We discovered several irregularities in the manufacturer names, including inconsistent spelling and unwanted spaces at the beginning or end of certain values. To ensure data correction, we cleaned these entries by standardizing the names and removing spaces.

In [2]:
# remove spaces infront of the values
df['model'] = df['model'].astype(str).str.strip()
# replace wrong or short manufacturer names with the correct ones
df['Manufacturer'] = df['Manufacturer'].replace('merc', 'mercedes benz')
df['Manufacturer'] = df['Manufacturer'].replace('Audi', 'audi')
df['Manufacturer'] = df['Manufacturer'].replace('BMW', 'bmw')
df['Manufacturer'] = df['Manufacturer'].replace('hyundi', 'hyundai')
df['Manufacturer'] = df['Manufacturer'].replace('vauxhall', 'opel')

In [3]:
# recheck that there are no irregularities
for col in df.columns:
    print(df[col].unique())

['I10' 'Polo' '2 Series' 'Yeti Outdoor' 'Fiesta' 'C-HR' 'Kuga' 'Tiguan'
 'A Class' '1 Series' 'Up' 'Golf' 'Corsa' 'RAV4' 'GLA Class' 'Aygo' 'Q5'
 'Karoq' 'Scala' 'Auris' 'Tucson' 'A4' 'Viva' 'Kodiaq' 'C Class' 'Mondeo'
 'Citigo' 'Yaris' 'X4' 'Octavia' 'Astra' 'Focus' '3 Series' 'GLC Class'
 'Q3' 'B-MAX' 'C-MAX' 'IX20' 'X5' 'T-Cross' 'Shuttle' 'Insignia' 'Zafira'
 'A3' 'A5' 'SL CLASS' 'EcoSport' 'X1' 'Fabia' 'Golf SV' 'Verso' 'Yeti'
 'Mokka X' 'Antara' 'E Class' '4 Series' 'Superb' '5 Series' '8 Series'
 'B Class' 'Ka+' 'X2' 'GLE Class' 'A6' 'Mokka' 'Passat' 'Kamiq' 'Adam'
 'Q7' 'Tiguan Allspace' 'X3' 'A1' 'Grandland X' 'Meriva' 'Tourneo Connect'
 'Arteon' 'TT' 'GLS Class' 'Santa Fe' 'I30' 'S Class' 'Ioniq' 'Edge'
 'S-MAX' 'SLK' 'Crossland X' '7 Series' 'T-Roc' 'Q2' 'CL Class'
 'CLA Class' '6 Series' 'V Class' 'Scirocco' 'i3' 'Grand C-MAX' 'SQ5' 'X7'
 'Corolla' 'A7' 'Touareg' 'CLS Class' 'I20' 'M Class' 'Prius' 'KA' 'GT86'
 'Hilux' 'Galaxy' 'M4' 'I800' 'Kona' 'Touran' 'Grand Tourneo Connect'
 'Caravelle' 'Combo Life' 'GL Class' 'Avensis' 'SQ7' 'GLB Class' 'RS3'
 'IX35' 'GTC' 'Land Cruiser' 'X6' 'RS5' 'Puma' 'CC' 'I40' 'i8' 'Eos'
 'Rapid' 'Amarok' 'Beetle' 'Supra' 'California' 'A8' 'Z4' 'Q8' 'S4'
 'Sharan' 'Mustang' 'M3' 'RS4' 'RS6' 'Fox' 'Cascada' 'M5'
 'Caddy Maxi Life' 'Vivaro' 'X-CLASS' 'M6' 'Kadjar' 'Caddy Maxi' 'Fusion'
 'Tourneo Custom' 'Tigra' 'M2' 'Agila' 'Zafira Tourer' 'Vectra' 'Ranger'
 'Getz' 'R8' 'Roomster' 'Jetta' 'Veloster' 'S5' 'S3' 'Z3' 'Ampera'
 'Caddy Life' 'Urban Cruiser' 'S8' 'Verso-S' 'IQ' 'CLK' 'PROACE VERSO'
 'R Class' 'G Class' '180' 'Camry' 'Caddy' 'Terracan' 'Streetka' '200'
 'Escort' 'Transit Tourneo' 'CLC Class' '230' 'A2' 'Amica' 'RS7' 'Accent'
 '220']
[2017 2019 2018 2016 2020 2015 2014 2013 2008 2011 2010 2012 2007 2009
 2003 1998 2006 2002 2005 2004 2001 2000 1997 1999 1996 2024 1970]
[ 7495 10989 27990 ... 23448  4871 18217]
['Manual' 'Semi-Auto' 'Automatic' 'Other']
[11630  9200  1614 ... 22635 25570 25372]
['Petrol' 'Diesel' 'Hybrid' 'Other' 'Electric']
[145 150 125 135  30   0  20 205 200 160 165 570 235 240 300 260 140 265
  10 555 540 295 305 185 325 190 565 280 330 195 120 110 130 115 580 245
 315 220 210 155 250 255 230 270 290 535 520 515]
[6.010e+01 5.890e+01 4.960e+01 6.280e+01 5.430e+01 7.430e+01 3.440e+01
 3.040e+01 6.570e+01 7.850e+01 6.420e+01 5.540e+01 6.730e+01 6.900e+01
 3.820e+01 4.710e+01 5.140e+01 5.760e+01 4.480e+01 6.890e+01 3.980e+01
 8.310e+01 4.220e+01 5.650e+01 4.790e+01 7.060e+01 7.630e+01 5.230e+01
 5.770e+01 8.600e+01 5.040e+01 4.280e+01 5.330e+01 6.140e+01 1.345e+02
 2.540e+01 3.280e+01 3.860e+01 8.070e+01 4.350e+01 3.870e+01 4.090e+01
 4.150e+01 4.040e+01 4.630e+01 4.410e+01 3.920e+01 3.210e+01 3.360e+01
 4.870e+01 3.620e+01 3.450e+01 3.720e+01 7.640e+01 3.320e+01 7.800e+01
 7.240e+01 3.070e+01 3.530e+01 4.560e+01 3.140e+01 3.490e+01 3.770e+01
 2.720e+01 5.660e+01 4.600e+01 2.850e+01 1.487e+02 3.670e+01 4.708e+02
 4.450e+01 5.550e+01 5.500e+01 5.800e+01 6.560e+01 4.700e+01 3.400e+01
 3.170e+01 4.030e+01 7.840e+01 2.910e+01 3.370e+01 4.210e+01 8.830e+01
 2.260e+01 2.800e+01 2.480e+01 2.880e+01 5.880e+01 3.250e+01 3.010e+01
 2.970e+01 3.580e+01 6.170e+01 4.300e+01 8.560e+01 6.700e+01 6.880e+01
 6.600e+01 1.662e+02 5.110e+01 2.240e+01 2.210e+01 2.090e+01 1.569e+02
 4.240e+01 2.800e+00 2.940e+01 9.410e+01 8.800e+00 2.410e+01 2.640e+01
 4.770e+01 2.740e+01 2.690e+01 6.770e+01 5.440e+01 2.390e+01 2.110e+01
 1.284e+02 4.360e+01 2.220e+01 1.177e+02 4.840e+01 1.413e+02 4.800e+01
 2.350e+01 6.000e+00 2.670e+01 1.660e+02 2.173e+02 2.830e+01 1.883e+02
 2.160e+01 2.190e+01 7.860e+01 2.030e+01 2.018e+02 2.140e+01 3.100e+01
 2.620e+01 6.270e+01 2.550e+01 1.766e+02 2.350e+02 7.440e+01 5.300e+01
 3.760e+01 2.370e+01 1.100e+00 2.100e+01 1.960e+01 2.568e+02 2.590e+01
 2.354e+02 1.412e+02 1.355e+02 1.890e+01 1.228e+02 5.000e+01 2.660e+01
 4.000e+01 2.460e+01 2.050e+01 3.000e+01 3.000e-01 3.290e+01 2.080e+01
 2.280e+01 2.520e+01 2.820e+01 2.950e+01 1.780e+01 5.130e+01 4.340e+01
 2.630e+01 2.330e+01 1.980e+01 6.110e+01 2.770e+01 2.320e+01 5.500e+00
 3.710e+01 3.810e+01 1.229e+02 1.130e+02 2.000e+01 3.330e+01 1.009e+02
 1.930e+01 1.910e+01 2.300e+01 4.290e+01 2.440e+01 5.350e+01 4.200e+01
 1.950e+01 1.900e+01 2.170e+01 5.470e+01 5.420e+01 2.500e+01 2.790e+01
 3.080e+01 2.230e+01 4.460e+01 1.100e+01 4.216e+01]
[1.  2.  1.2 1.8 1.5 2.1 1.4 2.5 1.6 1.7 3.  4.4 2.2 1.3 2.3 4.  0.  1.9
 1.1 2.4 3.5 5.5 2.9 2.8 4.2 5.  5.4 3.2 5.2 4.5 6.  2.7 0.6 6.2 4.3 4.7
 6.6 3.7 4.1 6.3]
['hyundai' 'volkswagen' 'bmw' 'skoda' 'ford' 'toyota' 'mercedes benz'
 'opel' 'audi']

### Column removing

We removed the tax column because tax rates vary between countries, which could introduce bias or noise into the model and reduce the accuracy of our price predictions.

In [4]:
# removing column tax
df = df.drop(columns=['mpg', 'tax'])
print(df.head())

          model  year  price transmission  mileage fuelType  engineSize  \
0           I10  2017   7495       Manual    11630   Petrol         1.0
1          Polo  2017  10989       Manual     9200   Petrol         1.0
2      2 Series  2019  27990    Semi-Auto     1614   Diesel         2.0
3  Yeti Outdoor  2017  12495       Manual    30960   Diesel         2.0
4        Fiesta  2017   7999       Manual    19353   Petrol         1.2

  Manufacturer
0      hyundai
1   volkswagen
2          bmw
3        skoda
4         ford

In [5]:
# Checking that there are no "null" values in the columns
print(df.isnull().sum())

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
Manufacturer    0
dtype: int64

### Detecting Extreme Values
Here we check the summary statistics of key numerical features (`price`, `mileage`, `engineSize`, `year`) to identify potential outliers or abnormal data points that may reduce accuracy of the models.

In [6]:
# Finding extreme point
print("Price:")
print(df["price"].describe())
print("\nMileage:")
print(df["mileage"].describe())
print("\nEngine Size:")
print(df["engineSize"].describe())
print("\nYear:")
print(df["year"].describe())

Price:
count     97712.000000
mean      16773.487555
std        9868.552222
min         450.000000
25%        9999.000000
50%       14470.000000
75%       20750.000000
max      159999.000000
Name: price, dtype: float64

Mileage:
count     97712.000000
mean      23219.475499
std       21060.882301
min           1.000000
25%        7673.000000
50%       17682.500000
75%       32500.000000
max      323000.000000
Name: mileage, dtype: float64

Engine Size:
count    97712.000000
mean         1.664913
std          0.558574
min          0.000000
25%          1.200000
50%          1.600000
75%          2.000000
max          6.600000
Name: engineSize, dtype: float64

Year:
count    97712.000000
mean      2017.066502
std          2.118661
min       1970.000000
25%       2016.000000
50%       2017.000000
75%       2019.000000
max       2024.000000
Name: year, dtype: float64

### New file
Made a new file with cleaned data.

In [7]:
df.to_csv("CarsData_cleaned.csv", index=False, sep=";", encoding="utf-8")